<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Polle-tician</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/issue']">Raise an Issue</a></li>
          <li><a [routerLink]="['/unsolved']">Unsolved Issues</a></li>
          <li><a [routerLink]="['/resolved']">Resolved Issues</a></li>
          <li><a [routerLink]="['/trending']">Trending Works</a></li>

         </ul>
      </div> 
    </nav>


    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      <div class="form-group">
        <label for="Title">Problem Title:</label>
          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
      </div>
      <div class="form-group">
        <label for="imageUrl">ImageUrl:</label>
          <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="imageUrl">
      </div>
      <div class="form-group">
        <label for="location">Pincode:</label>
          <input type="text" class="form-control" id="location" name="location" [(ngModel)]="location">
      </div>
      <div class="form-group">
        <label for="vote">Vote:</label>
          <input type="text" class="form-control" id="vote" name="vote" [(ngModel)]="vote">
      </div>
      <div class="form-group">
        <label for="resolve">Resolved or not:</label>
          <input type="text" class="form-control" id="resolve" name="resolve" [(ngModel)]="resolve">
      </div>

    <a [routerLink]="['/home']"><button type="submit" class="btn btn-danger" (click)="onSubmit()">Submit</button></a>

    </div>
    
  </div>

</div>